<div class="content supplemental">
    <ul class="technical-details list-unstyled">
        <li class="header">
            <h2>About this App</h2>

            <p><strong>Open Source & Built by SPARC</strong></p>

            <p>This prototype was built by <a href="http://www.sparcedge.com/">SPARC
                LLC</a>, a Veteran Owned Small Business located in Charleston
                SC. We use Agile development and multiple open source
                technologies to deliver for our Federal and Commercial
                customers. </p>

            <p><strong>Open source technologies used:</strong></p>
        </li>

        <li>Development Layer
            <ul>
                <li>Play Framework</li>
                <li>Scala</li>
                <li>AngularJS</li>
                <li>lodash</li>
            </ul>
        </li>
        <li>
            Visual / Design Layer
            <ul>
                <li>Bootstrap</li>
                <li>Google Fonts</li>
            </ul>
        </li>
        <li>
            QA Layer
            <ul>
                <li>Scala Test</li>
                <li>Jasmine</li>
                <li>Karma</li>
            </ul>
        </li>
        <li>
            DevOps Layer
            <ul>
                <li>GulpJS</li>
                <li>Docker</li>
            </ul>
        </li>
    </ul>

</div>
