

<div class="drug-detail">
    <header>
        <h2><a class="done" data-ng-click="done()">< </a> {{drug.name}}</h2>
        <a class="follow-button btn btn-default"
           ng-click="toggleFollow()"
           ng-class="{'following': drug.following}">
            <span ng-hide="drug.following">Follow</span>
            <span ng-show="drug.following">Unfollow</span>
        </a>
    </header>


	<div class="drug-detail-content">
		<div class="loading-message" data-ng-if="!drug.details">
			<p>Fetching info about {{drug.name}}...</p>
		</div>
	 	<div data-ng-if="drug.details">
			<h3>Recalls</h3>

			<div data-ng-if="drug.details.recalls">
			    <h4>{{drug.details.recallDetails.length}} ongoing recall(s)</h4>

			    <div data-ng-repeat="r in drug.details.recallDetails">
			        <dl>
			            <dt>Recall Number</dt>
			            <dd>{{r.recall_number}}</dd>
			            <dt>Product Description</dt>
			            <dd>{{r.product_description}}</dd>
			            <dt>Reason</dt>
			            <dd>{{r.reason_for_recall}}</dd>
			        </dl>

			        <hr data-ng-if="!$last"/>
			    </div>
			</div>
			<div data-ng-if="!drug.details.recalls">
			    <h4>There are no open recalls.</h4>
			</div>

            <h3>Drug Interaction Information</h3>
            <dl data-ng-show="showInteractionDetails()" data-ng-repeat="interactionTypeGroup in drug.details.interactionDetails.interactionTypeGroup">
                <div data-ng-repeat="interactionType in interactionTypeGroup.interactionType">
                    <h4>{{interactionType.comment}}</h4>
                    <dl data-ng-repeat="interactionPair in interactionType.interactionPair">
                        <dt>Interactions</dt>
                        <dd>{{interactionPairConcepts(interactionPair)}}</dd>
                        <dt>Description</dt>
                        <dd>{{interactionPair.description}}</dd>
                    </dl>
                </div>
                <hr data-ng-if="!$last"/>
            </dl>
            <div data-ng-show="!showInteractionDetails()">
                <h4>No drug interaction information available.</h4>
            </div>

			<h3>Label Changes</h3>

			<div data-ng-if="drug.details.labelChanges">
			    <h4>{{drug.details.labelDetails.length}} recent label
			        change(s)</h4>

			    <div data-ng-repeat="l in drug.details.labelDetails">
			        <dl>
			            <dt>Label Version</dt>
			            <dd>{{l.version}}</dd>
			            <dt>Effective Date</dt>
			            <dd>{{l.effective_time | fdaDate}}</dd>
			            <dt>Indications and Usage</dt>
			            <dd>{{l.indications_and_usage}}</dd>
			            <dt>Dosage and Administration</dt>
			            <dd>{{l.dosage_and_administration}}</dd>
			        </dl>
			    </div>

			</div>
			<div data-ng-if="!drug.details.labelChanges">
			    <h4>There have been no label changes in the last 90 days.</h4>
			</div>
		</div>
	</div>
</div>

