<div class="container">
    <div class="col-sm-12">
        <div class="page-header">
	        <a class="btn btn-default" data-ng-href="/">
	        	<i class="glyphicon glyphicon-menu-left"></i> Back
	        </a>
            <h1>Med Detail View</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa vel quas, tempora nisi distinctio veritatis voluptatum aut dolorem laudantium ipsa accusantium laborum? Tenetur illum tempora possimus. Vero impedit magnam autem.</p>
        </div>
        <div>
            {{drugDetails}}
        </div>
    </div>
</div>
