
<div class="container" class="drug-details-container">

    <div class="col-sm-12">
        <div class="page-header">


            <h1>{{ drug }}</h1>
            <a class="btn btn-default" data-ng-href="/">
                <i class="icon-arrow-left"></i> Back
            </a>
            <a class="btn btn-default" ng-click="toggleFollow()">
                <span ng-if="!following">Follow</span>
                <span ng-if="following">Unfollow</span>
            </a>
        </div>
        <div data-ng-if="drugDetails">
            <h2>Recalls</h2>

            <div data-ng-if="drugDetails.recalls">
                <h3>{{drugDetails.recallDetails.length}} ongoing recall(s)</h3>

                <div data-ng-repeat="r in drugDetails.recallDetails">
                    <dl>
                        <dt>Recall Number</dt>
                        <dd>{{r.recall_number}}</dd>
                        <dt>Product Description</dt>
                        <dd>{{r.product_description}}</dd>
                        <dt>Reason</dt>
                        <dd>{{r.reason_for_recall}}</dd>
                    </dl>

                    <hr data-ng-if="!$last"/>
                </div>
            </div>
            <div data-ng-if="!drugDetails.recalls">
                <p>There are no open recalls.</p>
            </div>

            <h2>Label Changes</h2>

            <div data-ng-if="drugDetails.labelChanges">
                <h3>{{drugDetails.labelDetails.length}} recent label
                    change(s)</h3>

                <div data-ng-repeat="l in drugDetails.labelDetails">
                    <dl>
                        <dt>Label Version</dt>
                        <dd>{{l.version}}</dd>
                        <dt>Effective Date</dt>
                        <dd>{{l.effective_time | fdaDate}}</dd>
                        <dt>Indications and Usage</dt>
                        <dd>{{l.indications_and_usage}}</dd>
                        <dt>Dosage and Administration</dt>
                        <dd>{{l.dosage_and_administration}}</dd>
                    </dl>
                </div>

            </div>
            <div data-ng-if="!drugDetails.labelChanges">
                <p>There have been no label changes in the last 90 days.</p>
            </div>
        </div>
    </div>
</div>
