<div class="feedback list-unstyled content supplemental">
    <h2>Feedback Welcome</h2>

    <p>
        SPARC built Med PAL to demonstrate our ability to rapidly create a
        product of value using an Agile development methodology. This
        prototype leverages the openFDA beta research project and is not for
        clinical use. Please refer to the OpenFDA <a href="https://open.fda.gov/terms/">Terms of Service</a>.
    </p>
    <p><strong>In future phases of development, the product roadmap may include the ability to:</strong></p>
    <ul>
        <li>Register and receive email, social or SMS notifications about the medications they follow.</li>
        <li>Create and follow multiple lists.</li>
        <li>Integration with other service APIs for a richer experience.</li>
        <li>Cross-reference your list of followed drugs for adverse reactions to each other.</li>
        <li>Increase information, crowdsourced reviews, and listing alternative drugs within each medications detail view.</li>
    </ul>
    <span>
        Submit feedback to <a href="mailto:18F@sparcedge.com?Subject=18f%20Feedback" target="_top">18F@sparcedge.com</a>
    </span>
</div>