<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h1>Hello main-index!</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <label for="selectDrugInput">Search for medications by
                name</label>
            <ui-select
                    id="selectDrugInput"
                    class="ui-select-scroll ui-select-auto-width ui-select-opaque"
                    theme="bootstrap"
                    data-ng-model="drug.selected"
                    search-enabled="true"
                    reset-search-input="true"
                    >
                <ui-select-match>
                    {{$select.selected}}
                </ui-select-match>
                <ui-select-choices
                        repeat="drug as drug in drugs | filter: $select.search">
                    {{drug}}
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <!-- @todo: replace with typeahead -->
	<div class="row" style="padding-top: 15px;">
		<div class="col-sm-6">
			<div ng-repeat="drug in followedDrugs" class="well">
					{{ drug }}
			</div>
		</div>

	</div>

</div>
