<div class="content">
    <h2>Why Med Pal?</h2>
    <p>The Med Pal application allows an informed consumer to research individual drugs for recent recalls or label changes through the <a href="http://open.fda.gov">OpenFDA API</a>. Similar to subscribing for updates on social media, you may choose to “follow” a drug of interest and be alerted of changes when you revisit <a href="http://18f.sparcedge.com">18f.sparcedge.com</a>.</p>
    <p><a href="http://www.fda.gov/Drugs/DevelopmentApprovalProcess/DevelopmentResources/DrugInteractionsLabeling/ucm110632.htm">According to FDA research</a>, there are approximately 106,000 deaths per year attributed to adverse reactions to prescription drugs. One in five hospital visits are the result of a drug reaction. And adverse drug reactions are estimated to cost our country $135 Billion dollars a year.</p>

    <div class="purpose">
        <aside class="statistic">
            <div class="circle-graph" data-graph-pct="82">
                <div class="circle">
                    <div class="mask full">
                        <div class="fill"></div>
                    </div>
                    <div class="mask half">
                        <div class="fill"></div>
                        <div class="fill fix"></div>
                    </div>
                </div>
                <div class="inset">
                    <div class="percentage"></div>
                </div>
            </div>
            <span>of American adults take at least one medication.</span>
        </aside>
    </div>
    <div class="statistics">
        <aside class="statistic">
            <div class="circle-graph" data-graph-pct="29">
                <div class="circle">
                    <div class="mask full">
                        <div class="fill"></div>
                    </div>
                    <div class="mask half">
                        <div class="fill"></div>
                        <div class="fill fix"></div>
                    </div>
                </div>
                <div class="inset">
                    <div class="percentage"></div>
                </div>
            </div>
            <span>of American adults take 5 or more medications.</span>
        </aside>
    </div>
                <span class="stat-source">
                    Source: http://www.cdc.gov/MedicationSafety/basics.html
                </span>
</div>