/*
	Vendor.less
	Core bootstrap.less version 3.3.2 modified to exclude unused less files.
*/

@bootstrap: "lib/bootstrap/less";
@font-path: '../../../public/fonticons/fontcustom';
// Fontcustom
@import (less) "@{font-path}/icons.css";



//Angular UI-Select
@import (less) "lib/angular-ui-select/select.css";

// Core variables and mixins
@import "@{bootstrap}/variables.less";
@import "@{bootstrap}/mixins.less";

// Reset and dependencies
@import "@{bootstrap}/normalize.less";
@import "@{bootstrap}/print.less";
//@import "@{bootstrap}/glyphicons.less";

// Core CSS
@import "@{bootstrap}/scaffolding.less";
@import "@{bootstrap}/type.less";
@import "@{bootstrap}/code.less";
@import "@{bootstrap}/grid.less";
@import "@{bootstrap}/tables.less";
@import "@{bootstrap}/forms.less";
@import "@{bootstrap}/buttons.less";

// Components
@import "@{bootstrap}/component-animations.less";
@import "@{bootstrap}/dropdowns.less";
@import "@{bootstrap}/button-groups.less";
@import "@{bootstrap}/input-groups.less";
@import "@{bootstrap}/navs.less";
@import "@{bootstrap}/navbar.less";
@import "@{bootstrap}/breadcrumbs.less";
@import "@{bootstrap}/pagination.less";
@import "@{bootstrap}/pager.less";
@import "@{bootstrap}/labels.less";
@import "@{bootstrap}/badges.less";
@import "@{bootstrap}/jumbotron.less";
@import "@{bootstrap}/thumbnails.less";
@import "@{bootstrap}/alerts.less";
@import "@{bootstrap}/progress-bars.less";
@import "@{bootstrap}/media.less";
@import "@{bootstrap}/list-group.less";
@import "@{bootstrap}/panels.less";
//@import "@{bootstrap}/responsive-embed.less";
@import "@{bootstrap}/wells.less";
@import "@{bootstrap}/close.less";

// Components w/ JavaScript
@import "@{bootstrap}/modals.less";
@import "@{bootstrap}/tooltip.less";
@import "@{bootstrap}/popovers.less";
@import "@{bootstrap}/carousel.less";

// Utility classes
@import "@{bootstrap}/utilities.less";
@import "@{bootstrap}/responsive-utilities.less";







/*
  Main.less
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,400);

// Bootstrap // --------------------------------------------------
//note- these may show up as an error/missing file in editors, the build process
//will make these files available as a post-compilation step
@import "lib/bootstrap/less/variables.less"; //to be able to use boostrap variables
@import "lib/bootstrap/less/mixins.less"; //to be able to use boostrap mixins
@import "lib/bootstrap/less/scaffolding.less";

// Core // --------------------------------------------------
@import "app/core/variables.less";
@import "app/core/buttons.less";
@import "app/core/forms.less";
@import "app/core/inputs.less";
@import "app/core/typography.less";

// Layout // --------------------------------------------------
@import "app/layouts/pattern.less";


// Custom // --------------------------------------------------

@app-faint-blue: #edfcff;

// [class*="drug-status"] {
// 	background: @app-light-blue url("http://18f-cdn.sparcedge.com/recall.svg") no-repeat 8px 30%;
//   background-size: 36px;
// }

// .drug-status-recall {
//   background: @brand-danger url("http://18f-cdn.sparcedge.com/recall.svg")  no-repeat scroll 12px 30% / 36px 36px;
//   background-size: 36px;

// .drug-status-label {
//   background: @brand-info url("http://18f-cdn.sparcedge.com/label-change.svg")  no-repeat scroll 12px 30% / 36px 36px;
//   background-size: 36px;
// }

// .drug-status-loading {
//   //???
// }

// .drug-status-ok {
//   background: @brand-success url("http://18f-cdn.sparcedge.com/all-good.svg")  no-repeat scroll 12px 30% / 36px 36px;
// 	background-size: 43px;
// }

.drug-summary {
  background-color: #ffffff;
}

header[role="banner"] {
	background: @app-light-blue;
	padding: 40px 0px;
	display: table;
	width: 100%;
	text-align: center;
	img {
		display: table-cell;
		display: inline-block;
		vertical-align: middle;
		height: 64px;
		pointer-events: none;
	}
}

section[role="search"] {
	position: relative;
	display: table;
	width: 100%;
	text-align: center;
	background: #fff;

	&::before {
		content: '';
		display: block;
		background: @app-light-blue;
		position: absolute;
		height: 64px;
		width: 100%;
		bottom: 32px;
	}

	#selectDrugInput {
		width: 100%;
		max-width: 570px;
		margin: 0 auto;
		position: relative;
		.ui-select-match .btn,
		.ui-select-search {
			width: 100%;
			height: 64px;
			background: white;
			font-size: 1em;
			line-height: 2em;
			border: 1px solid #EFEFEF;
			padding: 0px 15px;
			border-radius: 2em;
			vertical-align: middle;
			box-shadow: 0px 0px 3px 0px #B3B3B3 !important;
		}
	}
}
#content {
	position: relative;
	z-index: 0;
}
main.followed-drugs {
	.make-sm-column(6);

	ul {
		list-style-type: none;
		padding: 0;
		li {
			cursor: default;
			position: relative;
			// display: table;
			// text-align: right;
			// width: 100%;
			padding: 4px 4px;
		}
	}
	button.btn-follow {
		position: absolute;
		top: 10px;
		right: 20px;
		height: 43px;
		width: 90px;
		display: inline-block;

		&:hover {
			background: @app-dark-gray;
			color: white;
		}
	}

	h3 {
		padding: 10px 54px;
		cursor: pointer;
		display: inline-block;
		margin: 0;
		color: white;
		&:hover {
			color: #1B1B1B;
			text-decoration: underline;
		}
	}
	.drug-summary {
		padding: 0 16px;
		background: rgba(255,255,255,0.6);
		p {
			&:last-child,
			&:empty {
				margin-bottom: 0;
			}
			&:empty {
				margin-bottom: 0;
				display: none;
			}
		}
	}
}

aside.about-med-alerts {
	// .make-sm-column();
}

footer {
	background: @app-light-blue;
	color: white;
	text-align: center;
	font-size: 16px;
	padding-top: 15px;
}



.drug-status-recall {
  background: @brand-danger url("http://18f-cdn.sparcedge.com/recall.svg") no-repeat 12px 30%;
  background-size: 36px 36px;
}
.drug-status-label {
  background: @brand-info url("http://18f-cdn.sparcedge.com/label-change.svg") no-repeat 12px 30%;
  background-size: 36px 36px;
}

.drug-status-ok {
  background: @brand-success url("http://18f-cdn.sparcedge.com/all-good.svg") no-repeat 12px 50%;
  background-size: 36px 36px;
}
