@(title: String)
<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/main.css")'>
        <link rel="shortcut icon" type="image/png" href='@routes.Assets.at("images/favicon.png")'>
    </head>
    <body id="body" data-ng-app="app" ng-strict-di>
            <!-- Navbar -->

            <!-- Main content -->
        <div data-ng-view></div>
            <!-- scripts -->

            <!-- AngularJS and plugins -->
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-animate.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-route.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-sanitize.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-cookies.min.js"))'></script>

            <!-- Angular UI -->
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("ui-bootstrap.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("select.min.js"))'></script>

        <!-- Other JS Libraries -->
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("lodash.min.js"))'></script>

            <!-- Application files -->
        <script type='text/javascript' src='@routes.Assets.at("javascripts/app.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/app.tpl.js")'></script>

        <script type="text/javascript">
        var Conf = window.Conf ||
        {
            clientId: '@play.Play.application().configuration().getString("known.client.id")'
        };
        </script>
    </body>
</html>
